.list {
    list-style-type: none;
    padding: 0;
}

.list li:not(:last-child) {
    margin-bottom: 4px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    margin-bottom: 4px;
}

.incomplete {
    color: var(--color-incomplete);
}