.chapterQuickNav {
    display: flex;
    justify-content: space-between;
}

.chapterQuickNav > * {
    width: calc(100% / 3);
}

.previous {
    text-align: left;
}

.contents {
    text-align: center;
}

.next {
    text-align: right;
}