html,
body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: #EC407A;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #E91E63;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.mono {
  font-family: monospace;
  font-size: 1.1em;
}

.centered {
  text-align: center;
}

.tex {
  margin-left: 60px;
  margin-right: 60px;
  letter-spacing: 0.03em;
  line-height: 1.8em;
}

@media screen and (max-width: 600px) {
  .tex {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.95em;
    line-height: 1.5em;
  }
}

.tex .katex {
  font-size: 1em;
  font-weight: 300;
}