.readingLayout {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 25px;
    max-width: 700px;
    text-align: justify;
}

.readingLayout h1 {
    text-align: left;
}

@media screen and (max-width: 500px) {
    .readingLayout h1 {
        font-size: 24px;
    }
    
    .readingLayout h2 {
        font-size: 20px;
    }

    .readingLayout main {
        line-height: 1.5em;
    }
}