.globalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    border-bottom: 2px dotted currentColor;
}

.title {
    font-size: 20px;
    text-transform: uppercase;
}

.globalHeader a {
    color: currentColor !important;
}

.icons {
    display: flex;
    gap: 4px;
}